In [2]:
__author__="Emily Hua yh2901"
__author__="Dhruv Shekhawa ds3512"

In [4]:
ib.connect_db('ib://name/db')

NameError: name 'ib' is not defined

In [1]:
%%sql

CREATE TABLE users(
    uid int primary key,
    firstname text,
    lastname text,
    fund numeric CHECK (fund > 0) ,
    gender text,
    age int
);

ERROR:root:Cell magic `%%sql` not found.

loading data into users:

INSERT INTO users (uid, firstname, lastname, fund, gender, age)
VALUES
(2, 'Ivy', 'Chen', 100, 'female', 23),
(3, 'Vivian', 'Peng', 150, 'female', 24),
(4, 'Ana', 'Stoica', 80, 'female', 23),
(5, 'Pri', 'Bengani', 70, 'female', 23),
(6, 'zhi', 'Zheng', 50, 'male', 22),
(7, 'Pao', 'Pao', 100, 'female', 23),
(8, 'Dhruv', 'Shekhawat', 100, 'male', 22),
(9, 'Yuntong', 'Wu', 40, 'male', 22),
(10, 'Joel', 'Sebold', 200, 'male', 40);

In [40]:
%%sql

CREATE TABLE friendship(
    fid int primary key,
    usr int,
    friend int,
    foreign key (usr) references users(uid),
    foreign key (friend) references users(uid)
)
--"undirected graph!"

{u'status': u'OK'}

INSERT INTO friendship (fid, usr, friend) 
VALUES
(1, 1, 2),
(2, 1, 3),
(3, 1, 4),
(4, 1, 5),
(5, 1, 6),
(6, 1, 7),
(7, 1, 8),
(8, 1, 9),
(9, 1, 10),
(10, 3, 2),
(11, 4, 5),
(12, 3, 7),
(13, 2, 7)

In [60]:
%%sql 

CREATE TABLE activitycategory(
    aid int,
    name text,
    primary key(aid)
)

{u'status': u'OK'}

INSERT INTO activitycategory(aid, name) 
VALUES
(1, 'concerts'),
(2, 'dancing'),
(3, 'art'),
(4, 'museums'),
(5, 'card grames'),
(6, 'pets'),
(7,'fishing'),
(8, 'kayaking'),
(9, 'cycling'),
(10, 'water sports');

In [65]:
%%sql 

CREATE TABLE activity(
    aid int,
    aaid int,
    name text,
    primary key(aid, aaid),
    foreign key(aid) references activitycategory(aid)
)

Error: ERROR: relation "activity" already exists

INSERT INTO activity(aid, aaid, name) 
VALUES
(1, 1, 'soul'),
(1, 2, 'rock'),
(1, 3, 'blues'),
(1, 4, 'classical'),
(1, 5, 'folks'),
(2, 1, 'ballroom'),
(2, 2, 'hiphop'),
(3, 1, 'photography'),
(3, 2, 'pottery'),
(4, 1,'modern art'),
(4, 2,'history'),
(4, 3,'natural history'),
(4, 4,'space'),
(7, 1, 'kayak fishing'),
(7, 2,'sea fishing'),
(7, 3,'rock fishing'),
(8, 1,'sea kayaking'),
(8, 2,'whitewater kayaking');

aaid stores acitivity subcategory

In [46]:
%%sql

CREATE TABLE interest(
    usr int,
    activity_category int,
    activity_subcategory int, 
    pid int,
    start_time timestamp,
    end_time timestamp,
    budget int CHECK (budget >= 0),
    primary key (usr, activity_category, activity_subcategory, pid, start_time, end_time),
    foreign key (usr) references users(uid),
    foreign key(pid, activity_category, activity_subcategory) references location(pid, aid, aaid)
)

{u'status': u'OK'}

INSERT INTO interest (usr, activity_category, activity_subcategory, pid, start_time, end_time, budget) 
VALUES
(1, 4, 1, 1, '2016-11-15 10:00', '2016-11-15 12:00', 30),
(2, 4, 1, 1, '2016-11-15 10:00', '2016-11-15 12:00', 20),
(3, 4, 1, 1, '2016-11-15 10:00', '2016-11-15 12:00', 40),
(4, 4, 1, 1, '2016-11-15 10:00', '2016-11-15 12:00', 40),
(5, 4, 1, 1, '2016-11-15 10:00', '2016-11-15 12:00', 40),
(6, 4, 1, 1, '2016-11-15 10:00', '2016-11-15 13:00', 40),
(7, 7, 2, 1, '2016-12-15 10:00', '2016-12-15 12:00', 40),
(3, 7, 2, 1, '2016-11-15 10:00', '2016-11-15 12:00', 40),
(3, 7, 2, 1,'2016-12-15 10:00', '2016-12-15 12:00', 35),
(2, 7, 2, 1, '2016-12-15 10:00', '2016-12-15 12:00', 120)

In [47]:
%%sql

CREATE TABLE rate(
    rid int,
    usr int NOT NULL,
    activity_category int NOT NULL,
    activity_subcategory int NOT NULL,
    pid int,
    comment text,
    score int NOT NULL,
    primary key (rid),
    foreign key (usr) references users(uid),
    foreign key (pid, activity_category, activity_subcategory) references location(pid, aid, aaid)
)

{u'status': u'OK'}

INSERT INTO rate (rid, usr, activity_category,activity_subcategory,  pid, comment, score)
VALUES
(1, 1,4,1,1, 'best Monet is there!', 4),
(2, 3, 4,1,1, 'a bit boring; not much good food to eat', 3),
(3, 2, 4,1,1, 'best antiques in the world! A must see in New York!', 5),
(4, 4 ,4, 2,1, 'too much stuff to see within a day!', 4),
(5, 7 ,7, 2,1, 'beautiful see!', 4),
(6, 6 ,7, 2,1, 'do not like the service around there', 2),
(7, 8 ,7, 2,1, 'okay place', 3),
(8, 9 ,7, 2,1, 'love it, great view!', 5),
(9, 2 ,7, 2,1, 'nice boat', 4),
(10, 3 ,7, 2,1, 'nice food', 4)

In [49]:
%%sql

CREATE TABLE location(
    pid int, --"think of pid as Arizona State Park"
    aid int, --"climbing"
    aaid int, --"rock climbing"
    open_time timestamp,
    close_time timestamp,
    state text,
    city text,
    name text,
    primary key(pid, aid, aaid),
    foreign key(aid, aaid) references activity(aid, aaid)
    --"pid, aid, aaid uniquely identifies an activity"
)

{u'status': u'OK'}

INSERT INTO location (pid, aid, aaid, open_time, close_time, state, city, name)
VALUES 
(1, 4, 1, '10:00', '17:00', 'New York', 'New York', 'Museum of Modern Arts'),
(2, 4, 1, '9:00', '18:00', 'Boston', 'massachusetts', 'The Institute of Temporary Art'),
(1, 4, 2, '9:00', '18:00', 'New York', 'New York', 'Metropolitan Museum'),
(2, 4, 2, '9:00', '18:00', 'Boston', 'massachusetts', 'Boston Museum of Fine Arts'),
(1, 4, 3,'10:00', '17:00', 'New York', 'New York', 'Natural History Museum' ),
(1, 7, 2,'10:00', '17:00', 'New York', 'Brooklyn', 'Captain Dave' ),
(2, 7, 2,'10:00', '17:00', 'Galveston', 'Texas', 'Galveston Bay' ),
(3, 7, 2,'10:00', '17:00', 'San Diego', 'California', 'California coast' ),
(4, 7, 2,'10:00', '17:00', 'Montauk', 'New York', ' Long Island Sound' ),
(5, 7, 2,'10:00', '17:00', 'MIAMI', 'Florida', 'Atlantic Coast' )

In [50]:
%%sql

CREATE TABLE ticketrequired(
    tid int,
    pid int,
    aid int,
    aaid int, 
    price numeric CHECK (price >= 0),
    name text,
    primary key (tid),
    foreign key(pid, aid, aaid) references location(pid, aid, aaid) ON DELETE CASCADE
)

{u'status': u'OK'}

INSERT INTO ticketrequired (tid, pid, aid, aaid, price, name)
VALUES
(1, 1 , 7, 2, 20, 'service fee'),
(2, 2, 7, 2, 30, 'service fee'),
(3, 3, 7, 2, 35, 'service fee'),
(4, 1, 4 ,1 ,20 , 'museum ticket'),
(5, 1, 4, 1, 30, 'special collection included'),
(6, 1, 4, 2, 10, 'general admission'),
(7, 2, 4, 2, 14, 'general admission'),
(8, 3 ,7,2, 100, 'boat renting and coaching fee'),
(9, 4, 7, 2, 80, 'coach fee'),
(10, 5, 7,2, 30, 'service fee');

In [52]:
%%sql 

CREATE TABLE modeoftransport (
    route_number int,
    pid int,
    aid int,
    aaid int,
    name text,
    primary key(route_number, pid, aid, aaid),
    foreign key(pid, aid, aaid) references location(pid, aid, aaid)
)

{u'status': u'OK'}

INSERT INTO modeoftransport (route_number, pid, aid, aaid, name)
VALUES 
(1, 1, 4, 2, 'walking')
(2, 1, 4, 2, 'subway'),
(3, 1, 4, 3, 'bike'),
(4, 1, 4, 1, 'bus'),
(5, 1, 4, 1, 'taxi'),
(1, 2, 4, 1, 'walking'),
(6, 1, 7, 2, 'car'),
(7, 1, 7, 2, 'train'),
(1, 1, 7, 2, 'walk')

In [54]:
%%sql 

CREATE TABLE ratefunroute(
    rid int,
    uid int,
    pid int, 
    aid int,
    aaid int,
    route_number int,
    score int,
    primary key(rid),
    foreign key(uid) references users(uid),
    foreign key (route_number, pid, aid, aaid) references modeoftransport(route_number, pid, aid, aaid)
)

{u'status': u'OK'}

INSERT INTO ratefunroute (rid, uid, pid, aid, aaid, route_number, score)
VALUES
(1, 1, 1, 4,1, 1, 1),
(2, 4, 1, 4, 1, 1, 1),
(3, 1, 1, 4, 1, 1, 1),
(4, 1, 1, 4, 1, 4, 1),
(5, 2, 1,7,2,6,1),
(6,3,1,7,2,6,1),
(7,5,1,7,2,6,1),
(8,6,1,7,2,7,1),
(9, 2,1,4,1,1,1),
(10, 3,1,7,2,6,1)

In [55]:
%%sql

CREATE TABLE orderhistory(
    oid int,
    uid int,
    tid int,
    time timestamp, 
    primary key (oid),
    foreign key (uid) references users(uid),
    foreign key(tid) references ticketrequired(tid)
    
)

{u'status': u'OK'}

INSERT INTO orderhistory (oid, uid, tid, time)
VALUES
(1, 1 , 1, '2015-11-15 10:00'),
(2,1 , 1, '2015-11-16 10:00'),
(3,1 , 1, '2015-11-17 10:00'),
(4,1 , 1, '2015-11-18 10:00'),
(5,1 , 1, '2015-11-19 10:00'),
(6,1 , 1, '2015-11-20 10:00'),
(7,1 , 1, '2015-11-21 10:00'),
(8,1 , 1, '2015-12-15 10:00'),
(9,1 , 1, '2015-12-16 10:00'),
(10,1 , 1, '2015-12-30 10:00');

In [72]:
%%sql 
CREATE TABLE gearstocarry(
    gid int,
    aid int,
    primary key(gid, aid),
    foreign key (aid) references activitycategory(aid)
)

{u'status': u'OK'}

INSERT INTO gearstocarry (gid, aid)
VALUES
(1, 7),
(2, 7),
(3, 7),
(4, 7),
(1, 8),
(5, 7),
(5, 9),
(6, 3),
(5,4);

In [ ]:
%%sql 
CREATE TABLE gears(
    gid int,
    name text,
    primary key(gid)
)

INSERT INTO gears(gid, name)
VALUES
(1, 'gloves'),
(2, 'fishing pole'),
(3, 'sun glasses'),
(4, 'fish bait'),
(5, 'backpack'),
(6, 'camera'),
(7, 'hat'),
(8, 'selfie-stick'),
(9, 'hiking boots'),
(10, 'rain boots');

In [ ]:
%%sql 

CREATE TABLE shops (
    sid int,
    name text NOT NULL,
    city text NOT NULL,
    primary key(sid)
)

INSERT INTO shops (sid,  name, city)
VALUES
(1, 'Uncle Bob Wholesale', 'New York'),
(2,  'Sports Lover', 'New York'),
(3, 'Hard-ware', 'Boston'),
(4, 'New Tech', 'New York'),
(5, 'Camera Ready', 'New York'),
(6, 'Miami Conviniance', 'Miami'),
(7, 'Virginia Conviniance', 'Virgina'),
(8, 'Boston Conviniance', 'Boston'),
(9, 'Big Apple Fashion Wear', 'New York'),
(10, 'Sea Dream', 'San Diego');

In [66]:
%%sql 

CREATE TABLE travelitemshop (
    sid int,
    gear int,
    price numeric CHECK(price >=0),
    primary key(sid, gear),
    foreign key (sid) references shops(sid),
    foreign key (gear) references gears(gid)
)

{u'status': u'OK'}

INSERT INTO travelitemshop (sid, gear, price)
VALUES
(1, 1,  8.8),
(1, 2,  82.5),
(1, 4,  5),
(2, 3,  57.8),
(2, 5, 68),
(2, 8,  15),
(3, 6,  100),
(4, 6,  80),
(5, 6,  250),
(6, 10,  57.5);