In [2]:
__author__="Emily Hua yh2901"
__author__="Dhruv Shekhawa ds3512"

In [1]:
ib.connect_db('ib://<username>/<reponame>/databases/<dbname>')

ERROR: No database connected. Please connect to a database.
HELP: ib.connect_db('ib://<username>/<reponame>/databases/<dbname>'), or
      ib.connect_db('<sqlalchemy-url>')

In [39]:
%%sql

CREATE TABLE users(
    uid int primary key,
    name text,
    fund int,
    gender text,
    age int
);

Error: ERROR: relation "users" already exists

In [40]:
%%sql

CREATE TABLE friendship(
    fid int primary key,
    usr int,
    friend int,
    foreign key (usr) references users(uid),
    foreign key (friend) references users(uid)
)

{u'status': u'OK'}

In [60]:
%%sql 

CREATE TABLE activitycategory(
    aid int,
    name text,
    primary key(aid)
)

{u'status': u'OK'}

In [65]:
%%sql 

CREATE TABLE activity(
    aid int,
    aaid int,
    name text,
    primary key(aid, aaid),
    foreign key(aid) references activitycategory(aid)
)

Error: ERROR: relation "activity" already exists

aaid stores acitivity subcategory

In [46]:
%%sql

CREATE TABLE interest(
    usr int,
    activity_category int,
    activity_subcategory int, 
    start_time timestamp,
    end_time timestamp,
    budget int,
    primary key (usr, activity_category, activity_subcategory),
    foreign key (usr) references users(uid),
    foreign key(activity_category, activity_subcategory) references activity(aid, aaid)
)

{u'status': u'OK'}

In [47]:
%%sql

CREATE TABLE rate(
    rid int,
    usr int,
    activity_category int,
    activity_subcategory int, 
    comment text,
    score int,
    primary key (rid),
    foreign key (usr) references users(uid),
    foreign key(activity_category, activity_subcategory) references activity(aid, aaid)
)

{u'status': u'OK'}

In [49]:
%%sql

CREATE TABLE location(
    pid int,
    activity_category int,
    activity_subcategory int, 
    open_time timestamp,
    close_time timestamp,
    state text,
    city text,
    name text,
    primary key(pid, aid, aaid),
    foreign key(activity_category, activity_subcategory) references activity(aid, aaid)

)

{u'status': u'OK'}

In [50]:
%%sql

CREATE TABLE ticketrequired(
    pid int,
    price int,
    name text,
    primary key (pid),
    foreign key(pid) references location(pid) ON DELETE CASCADE
)

{u'status': u'OK'}

In [52]:
%%sql 

CREATE TABLE modeoftransport (
    route_number int,
    pid int,
    name text,
    primary key(route_number, pid),
    foreign key(pid) references location(pid)
)

{u'status': u'OK'}

In [54]:
%%sql 

CREATE TABLE ratefunroute(
    rid int,
    uid int,
    pid int, 
    route_number int,
    score int,
    primary key(rid),
    foreign key(uid) references users(uid),
    foreign key (route_number, pid) references modeoftransport(route_number, pid)
)

{u'status': u'OK'}

In [55]:
%%sql

CREATE TABLE orderhistory(
    oid int,
    uid int,
    tid int,
    time timestamp, 
    primary key (oid),
    foreign key (uid) references users(uid),
    foreign key(tid) references ticket(tid)
    
)

{u'status': u'OK'}

In [72]:
%%sql 
CREATE TABLE gearstocarry(
    iid int,
    aid int,
    name text,
    primary key(iid, aid),
    foreign key (aid) references activitycategory(aid)
)

{u'status': u'OK'}

In [66]:
%%sql 

CREATE TABLE travelitemshop (
    sid int,
    item_to_carry int,
    name text,
    city text,
    primary key(sid),
    foreign key (item_to_carry) references gearstocarry(iid)
)

{u'status': u'OK'}